/*
*===CONTENT===
*/

#home_right {
	height: 100%;

	background-color: #f1f3f4;

	overflow-y: scroll;
}

#content {
	height: auto;
	width: 85%;

	margin: 20px auto 100px auto;
}

/*
*
*===HEADER===
*
*/

.header {
	width: 100%;
	background-color: #bdedee;

	border-bottom: 1px solid #d9d9d9;
}

.header p {
	padding: 10px 0px 10px 10px;

	color: #1a1a1a;
	font-size: 40px;
}

/*
*
*==BODY==
*
*/

.body {
	height: auto;
	width: 100%;

	margin: 30px auto 0px auto;

	border-radius: 3px;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);

	background-color: white;
}

.content_list {
	list-style-type: none;
}

.content_list li {
	height: 110px;
	width: auto;
}

.content_list li:before {
	height: 100%;

	display: inline-block;		/*!!! 'vertical-align' can only be used if the parent element is inline/inline-block !!!*/
	vertical-align: middle;		/*!!! and if the middle-aligned element is inline/inline-block !!!*/

	margin-left: 10px;

	content: '';
}

.content_list img {
	display: inline-block;
	vertical-align: middle;
	width: 90px;
}

.content_list .post_text-container {
	display: inline-block;
	vertical-align: middle;

	border: 1px solid black;
}

/*
*
*===FOOTER===
*
*/